venv310
data
lightning_logs
tb_logs
**/__pycache__/
./models/
models/*
PRESLEY_Models_v1.zip
emissions.csv
PRESLEY_Models_v2.zip
preds/barcelona_ELVis
preds/gijon_ELVis
preds/london_ELVis
preds/london_MF_ELVis
preds/madrid_ELVis
preds/madrid_MF_ELVis
preds/newyork_ELVis
preds/newyork_MF_ELVis
preds/paris_ELVis
preds/paris_MF_ELVis
fit-perf_logs.txt
preds/barcelona_MF_ELVis
preds/gijon_MF_ELVis
predict-perf_logs.txt
csv_logs/barcelona/ELVis/hparams.yaml
csv_logs/barcelona/ELVis/metrics.csv
csv_logs/barcelona/ELVis_no_val/hparams.yaml
csv_logs/barcelona/ELVis_no_val/metrics.csv
csv_logs/barcelona/MF_ELVis/hparams.yaml
csv_logs/barcelona/MF_ELVis/metrics.csv
csv_logs/barcelona/MF_ELVis_no_val/hparams.yaml
csv_logs/barcelona/MF_ELVis_no_val/metrics.csv
csv_logs/barcelona/PRESLEY/hparams.yaml
csv_logs/barcelona/PRESLEY/metrics.csv
csv_logs/barcelona/PRESLEY_no_val/hparams.yaml
csv_logs/barcelona/PRESLEY_no_val/metrics.csv
csv_logs/gijon/ELVis/hparams.yaml
csv_logs/gijon/ELVis/metrics.csv
csv_logs/gijon/ELVis_no_val/hparams.yaml
csv_logs/gijon/ELVis_no_val/metrics.csv
csv_logs/gijon/MF_ELVis/hparams.yaml
csv_logs/gijon/MF_ELVis/metrics.csv
csv_logs/gijon/MF_ELVis_no_val/hparams.yaml
csv_logs/gijon/MF_ELVis_no_val/metrics.csv
csv_logs/gijon/PRESLEY/hparams.yaml
csv_logs/gijon/PRESLEY/metrics.csv
csv_logs/gijon/PRESLEY_no_val/hparams.yaml
csv_logs/gijon/PRESLEY_no_val/metrics.csv
csv_logs/london/ELVis/hparams.yaml
csv_logs/london/ELVis/metrics.csv
csv_logs/london/ELVis_no_val/hparams.yaml
csv_logs/london/ELVis_no_val/metrics.csv
csv_logs/london/MF_ELVis/hparams.yaml
csv_logs/london/MF_ELVis/metrics.csv
csv_logs/london/MF_ELVis_no_val/hparams.yaml
csv_logs/london/MF_ELVis_no_val/metrics.csv
csv_logs/london/PRESLEY/hparams.yaml
csv_logs/london/PRESLEY/metrics.csv
csv_logs/london/PRESLEY_no_val/hparams.yaml
csv_logs/london/PRESLEY_no_val/metrics.csv
csv_logs/madrid/ELVis/hparams.yaml
csv_logs/madrid/ELVis/metrics.csv
csv_logs/madrid/ELVis_no_val/hparams.yaml
csv_logs/madrid/ELVis_no_val/metrics.csv
csv_logs/madrid/MF_ELVis/hparams.yaml
csv_logs/madrid/MF_ELVis/metrics.csv
csv_logs/madrid/MF_ELVis_no_val/hparams.yaml
csv_logs/madrid/MF_ELVis_no_val/metrics.csv
csv_logs/madrid/PRESLEY/hparams.yaml
csv_logs/madrid/PRESLEY/metrics.csv
csv_logs/madrid/PRESLEY_no_val/hparams.yaml
csv_logs/madrid/PRESLEY_no_val/metrics.csv
csv_logs/newyork/ELVis/hparams.yaml
csv_logs/newyork/ELVis/metrics.csv
csv_logs/newyork/ELVis_no_val/hparams.yaml
csv_logs/newyork/ELVis_no_val/metrics.csv
csv_logs/newyork/MF_ELVis/hparams.yaml
csv_logs/newyork/MF_ELVis/metrics.csv
csv_logs/newyork/MF_ELVis_no_val/hparams.yaml
csv_logs/newyork/MF_ELVis_no_val/metrics.csv
csv_logs/newyork/PRESLEY/hparams.yaml
csv_logs/newyork/PRESLEY/metrics.csv
csv_logs/newyork/PRESLEY_no_val/hparams.yaml
csv_logs/newyork/PRESLEY_no_val/metrics.csv
csv_logs/paris/ELVis/hparams.yaml
csv_logs/paris/ELVis/metrics.csv
csv_logs/paris/ELVis_no_val/hparams.yaml
csv_logs/paris/ELVis_no_val/metrics.csv
csv_logs/paris/MF_ELVis/hparams.yaml
csv_logs/paris/MF_ELVis/metrics.csv
csv_logs/paris/MF_ELVis_no_val/hparams.yaml
csv_logs/paris/MF_ELVis_no_val/metrics.csv
csv_logs/paris/PRESLEY/hparams.yaml
csv_logs/paris/PRESLEY/metrics.csv
csv_logs/paris/PRESLEY_no_val/hparams.yaml
csv_logs/paris/PRESLEY_no_val/metrics.csv
.vscode/settings.json
csv_logs.zip
comparison_curves.py
train_models.py
