venv310
data
lightning_logs
tb_logs
models
preds
csv_logs

**/__pycache__/
*.zip

emissions.csv

fit-perf_logs.txt
predict-perf_logs.txt
.vscode/settings.json
comparison_curves.py
train_models.py
train_models_numfactors.py
comparison_curves_numfactors.py
compare_tune_curves.py
compare_inference_times.py
compare_inference_times_cities.py
